<table border='1'>
    <thead>
        <tr>
            <th>Order No</th>
            <th>Search Date</th>
            <th>Effective Date</th>
            <th>Property Address</th>
            <th>Borrowers</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let abstract of titleAbstracts">
            <td><a routerLink="/detail/{{abstract.id}}">{{abstract.orderNo}}</a></td>
            <td>{{abstract.searchDate | date: 'MM/dd/yyyy'}}</td>
            <td>{{abstract.effectiveDate | date: 'MM/dd/yyyy'}}</td>
            <td>{{abstract.propertyAddress}}</td>
            <td>{{abstract.currentVesting}}</td>
        </tr>
    </tbody>
</table>